/* .adminD{
    display:grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 1rem;
} */


.adminD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 80%;
    margin: auto;
}

.adminD h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.levelSelection,
.departmentSelection,
.generalSelection {
    margin-top: 1rem;
}

select {
    padding: 8px;
    border: none;
    border-radius: 15px;
}

button {
    border: none;
    border-radius: 15px;
    padding: 8px;
    margin-left: 5px;
    background-color: rgb(43, 9, 235);
}

.csvLink{
    text-decoration: none;
    color: whitesmoke;
} 

table {
    margin-top: 3rem;
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
}

th,
td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

th {
    background-color: #ac9a9a;
}

tr:hover {
    background-color: #c3baba;
}